<section class="battery">
    <div class="battery__wrap">
        <div class="battery__container container">
            <div class="battery__text text-block">
                <h3 class="battery__subtitle text-block__subtitle">Аккумулятор 6000 мАч</h3>
                <h2 class="battery__title text-block__title">Улучшенная автономность без увеличения веса</h2>
                <p class="battery__descr text-block__descr">Благодаря огромному аккумулятору ёмкостью 6000 мАч больше не придётся волноваться об уровне заряда.<br />Redmi 9T может работать без подзарядки в течение нескольких дней.<br/> При этом смартфон весит менее 200 г.</p>
            </div>
            <div class="battery__characteristic characteristic__list">
                <div class="battery__characteristic-item characteristic__item">
                    <picture>
                        <source srcset="../img/battery-desktop.png" media="(min-width: 900px)">
                        <img src="../img/battery.png" alt="Батарея"></img>
                    </picture>
                    <div class="battery__characteristic-text">
                        <span class="battery__text--big">28 дней</span>
                        <span class="battery__text--small">В режиме ожидания</span>
                    </div>
                </div>
                <div class="battery__characteristic-item characteristic__item">
                    <picture>
                        <source srcset="../img/phone-desktop.png" media="(min-width: 900px)">
                        <img src="../img/phone.png" alt="Телефон"></img>
                    </picture>
                    <div class="battery__characteristic-text">
                        <span class="battery__text--big">56 часов</span>
                        <span class="battery__text--small">В режиме разговора</span>
                    </div>
                </div>
                <div class="battery__characteristic-item characteristic__item">
                    <picture>
                        <source srcset="../img/music-desktop.png" media="(min-width: 900px)">
                        <img src="../img/music.png" alt="музыка"></img>
                    </picture>
                    <div class="battery__characteristic-text">
                        <span class="battery__text--big"> 195 часов</span>
                        <span class="battery__text--small">Воспроизведение музыки</span>
                    </div>
                </div>
                <div class="battery__characteristic-item characteristic__item">
                    <picture>
                        <source srcset="../img/video-desktop.png" media="(min-width: 900px)">
                        <img src="../img/video.png" alt="видео"></img>
                    </picture>
                    <div class="battery__characteristic-text">
                        <span class="battery__text--big">17 часов*</span>
                        <span class="battery__text--small">Воспроизведение видео</span>
                    </div>
                </div>
           </div>
           <!-- banner -->
           <div class="battery__banner">
            <div class="battery__text text-block">
                 <h2 class="battery__banner-title text-block__title">Аккумулятор, который прослужит долго</h2>
                 <p class="battery__banner-descr text-block__descr">Срок службы аккумулятора смартфона составляет 1000 циклов зарядки. Это означает, что смартфоном можно пользоваться ежедневно в течение более чем четырёх лет без заметного уменьшения ёмкости аккумулятора. В условиях использования при комнатной температуре срок службы аккумулятора на 25% больше, чем у других смартфонов.</p>
            </div>
            <picture class="battery__banner-images">
                 <source srcset="../img/battery-phone-desktop.png" media="(min-width: 900px)">
                 <img src="../img/battery-phone.png" alt="Redmi" class="battery__banner-img">
             </picture>
            <div class="battery__cycle">
                <h3 class="battery__cycle-title">Количество циклов зарядки (при температуре 25°)</h3>
                <div class="battery__lists">
                 <ul class="battery__list">
                     <li class="battery__item">Redmi 9T</li>
                     <li class="battery__item">Другие смартфоны*</li>
                 </ul>
                 <ul class="battery__list">
                  <li class="battery__item">
                     <picture class="battery__banner-images">
                         <source srcset="../img/redmi-cycle-desctop.jpg" media="(min-width: 900px)">
                         <img src="../img/redmi-cycle.png" alt="Цикл зарядки" class="battery__img">
                     </picture>
                  </li>
                  <li class="battery__item">
                     <picture class="battery__banner-images">
                         <source srcset="../img/other-cycle-desktop.jpg" media="(min-width: 900px)">
                         <img src="../img/others-cycle.png" alt="Цикл зарядки" class="battery__img">
                     </picture>
                  </li>
              </ul>
                </div>
            </div>
        </div>
    </div>      
    </div>
        
</section>