<section class="camera">
    <div class="camera__power power__block power__block-container">
        <h2 class="camera__power-title power__block-title">Мощность на полную!
        <span class="camera__power-title--big power__block-title--big">Камера</span></h2>
    </div>
    <div class="camera__wrapper">
        <div class="camera__container container">
            <div class="camera__text text-block">
                <h3 class="camera__subtitle text-block__subtitle">48 Мп. Четыре камеры с ИИ</h3>
                <h2 class="camera__title text-block__title">Всё, что нужно для профессиональной съёмки</h2>
                <p class="camera__descr text-block__descr">Система четырёх камер на задней панели позволяет делать захватывающие снимки. Фотографируй красочные пейзажи или создавай художественные портреты.</p>
            </div>
        </div>
        <div class="camera__image">
            <picture class="battery__banner-images">
                <source srcset="../img/camera-desktop.png" media="(min-width: 900px)">
                <img src="../img/camera.png" alt="Redmi" class="camera__img" />
            </picture>
        </div>
        <div class="camera__characteristic characteristic__list">
            <div class="characteristic__item characteristic__item">
                <div class="characteristic__text">48 Мп<br />
                    <span>Основная камера</span>
                </div>
            </div>
            <div class="camera__characteristic characteristic__item">
                <div class="characteristic__text">2 Мп<br />
                    <span>Датчик глубины</span>
                </div>
            </div>
            <div class="camera__characteristic characteristic__item">
                <div class="characteristic__text">8 Мп<br />
                    <span>Сверхширокоугольная камера</span>
                </div>
            </div>
            <div class="camera__characteristic characteristic__item">
                <div class="characteristic__text">2 Мп<br />
                    <span>Макрообъектив</span>
                </div>
            </div>
       </div>
    </div>
    <div class="camera__memories memories">
        <div class="memories__container container">
            <div class="memories__text text-block">
                <h3 class="memories__subtitle text-block__subtitle">48 Мп. Четыре камеры с ИИ</h3>
                <h2 class="memories__title text-block__title">Сохраняй воспоминания кристально чёткими</h2>
            </div>
                <div class="photos pencil">
                    <picture>
                        <source srcset="../img/pencil-desktop.png" media="(min-width: 900px)">
                        <img src="../img/pencil.png" alt="Photo" class="memories__image" />
                    </picture>
                </div>
                <div class="photos smile">
                    <picture>
                        <source srcset="../img/smile-desktop.png" media="(min-width: 900px)">
                        <img src="../img/smile.png" alt="Photo" class="memories__image" />
                    </picture>
                </div>
                <div class="photos book">
                    <picture>
                        <source srcset="../img/book-desktop.png" media="(min-width: 900px)">
                        <img src="../img/book.png" alt="Photo" class="memories__image" />
                    </picture>
                </div>
                <div class="photos build">
                    <picture>
                        <source srcset="../img/build-desktop.png" media="(min-width: 900px)">
                        <img src="../img/build.jpg" alt="Photo" class="memories__image" />
                    </picture>
                </div>
        </div>
    </div>
</section>