<section class="colors">
    <div class="colors__text">
        <h2 class="colors__title">Яркие цвета</h2>
        <p class="colors__descr">Redmi 9T сделает жизнь ярче. Специальная текстура на задней панели переливается, завораживая сиянием. Выбери один из четырёх цветов: «Синие сумерки», «Оранжевый рассвет», «Морская волна» или «Серый карбон».</p>
    </div>
    <div class="colors__image">
        <picture>
            <source srcset="../img/colors-desktop.png" media="(min-width: 767px)">
            <img src="../img/colors.png" alt="Redmi" class="colors__img" />
        </picture>
    </div>
</section>