<section class="display">
    <div class="display__container">
        <div class="display__text text-block">
            <div class="display__text-wrap">
                <h3 class="display__subtitle text-block__subtitle">6,53-дюймовый дисплей DotDrop с разрешением FHD+</h3>
                <h2 class="display__title text-block__title">Видна каждая деталь</h2>
                <p class="display__descr text-block__descr">Высокое разрешение дисплея FHD+ обеспечивает чёткость изображения и комфортный просмотр новостей, видео и социальных сетей с минимальной нагрузкой на глаза.</p>
            </div>
            <div class="display__text-image">
                <img src="../img/display-bg-desktop.png" alt="Redmi" />
            </div>
        </div>
        <ul class="display__list">
            <li class="display__item">· Разрешение 2340 x 1080 пикселей</li>
            <li class="display__item">· Дисплей с низким уровнем синего излучения, сертифицированный TÜV Rheinland</li>
            <li class="display__item">· Сертификат Widevine L1</li>
        </ul>
    </div>
</section>