<section class="functions">
    <div class="functions__container container">
        <h2 class="functions__title">Ещё больше функций</h2>
    <div class="functions__characteristic characteristic__list">
        <div class="functions__characteristic-item functions__item">
            <img src="../img/nfc.png" alt="NFC" class="functions__image" />
            <div class="functions__text">NFC*</div>
        </div>

        <div class="functions__characteristic-item  functions__item">
            <img src="../img/headphones.png" alt="Наушники" class="functions__image" />
            <div class="functions__text">3,5-мм разъём для наушников</div>
        </div>
        <div class="functions__characteristic-item functions__item">
            <img src="../img/ik.png" alt="Инфракрасный датчик" class="functions__image" />
            <div class="functions__text">Инфракрасный датчик</div>
        </div>
        <div class="functions__characteristic-item functions__item">
            <img src="../img/flash.png" alt="Flash" class="functions__image" />
            <div class="functions__text">До 512 ГБ встроенной памяти</div>
        </div>
    </div>
    <sup>*Наличие зависит от региона.</sup>
    </div>
</section>