<section class="notes">
    <div class="notes__container container">
        <span class="notes__title">Примечания:</span>
        <ol class="notes__list"> 
            <li class="notes__item">Изображения на этой странице являются иллюстрациями. Внешний вид реального устройства может отличаться.</li>
            <li class="notes__item">Все данные на этой странице, касающиеся зарядки и времени автономной работы, предоставлены лабораториями Xiaomi. Фактические данные могут отличаться в зависимости от версии установленного ПО, среды эксплуатации и конфигурации устройства.</li>
            <li class="notes__item">Выражение «Другие смартфоны» указывает на устройства со схожими характеристиками, но без аккумулятора с поддержкой большого количества циклов зарядки.</li>
        </ol>
    </div>
</section>