<section class="power">
  <div class="power__wrap">
    <div class="power__container container">
      <div class="power__text text-block">
        <h3 class="power__subtitle text-block__subtitle">Мощность на полную!</h3>
        <h2 class="power__title text-block__title">Redmi 9T</h2>
        <div class="power__descr-block">
          <p class="power__descr text-block__descr">Камера с ИИ, 48 Мп&nbsp;</p>
          <p class="power__descr text-block__descr">&nbsp;Аккумулятор 6 000 мА·ч</p>
        </div>
      </div>
      <picture>
        <source srcset="../img/power-desktop.png" media="(min-width: 900px)">
        <img src="../img/power.png" alt="Redmi" class="power__image" />
      </picture>
    </div>
  </div>
  <div class="power__characteristic">
    <ul class="power__list">
      <li class="power__item">48 Мп.<br/>
        Четыре камеры с ИИ</li>
      <li class="power__item">6 000 мА·ч (стандартная)<br />
        18-ваттная быстрая зарядка</li>
      <li class="power__item">Qualcomm®<br />
        Snapdragon™ 662</li>
      <li class="power__item">6,53-дюймовый
        дисплей DotDrop<br />
        с разрешением FHD+</li>
        
    </ul>
  </div>
  <div class="power__style power__block">
    <div class="power__block-container">
      <h3 class="power__style-title power__block-title">Мощность на полную!<br />
        <span class="power__style-title--big power__block-title--big">СТИЛЬ</span>
      </h3>
    </div>
    
  </div>
  
</section>
