<section class="processor">
    <div class="processor__wrap">
        <div class="processor__container">
            <div class="processor__text text-block">
                <h3 class="processor__subtitle text-block__subtitle">Процессор Snapdragon™ 662</h3>
                <h2 class="processor__title text-block__title">Быстрый и энергоэффективный</h2>
                <p class="processor__descr text-block__descr">8-ядерный процессор Snapdragon™ 662 обеспечивает высочайшую производительность с низким энергопотреблением и защитой от перегрева.</p>
                <p class="processor__subtitle text-block__descr">Справляйся с задачами быстро</p>
                <p class="processor__descr text-block__descr">Встроенная память стандарта UFS 2.2* позволяет запускать приложения и копировать файлы с молниеносной скоростью. Это также влияет на скорость съёмки и обработки фото в сверхвысоком разрешении.</p>
                <sup>*Устройства со 128 ГБ встроенной памяти оснащаются накопителем стандарта UFS 2.2, а устройства с 64 ГБ встроенной памяти — накопителем стандарта UFS 2.1.</sup>
            </div>
        </div>
        <div class="processor__images">
            <img src="../img/processor-bg-desktop.png" alt="processor">
            <img src="../img/processor-desktop.png" alt="processor">
        </div>
    </div>
    <div class="processor__style power__block power__block-container">
        <h2 class="processor__style-title power__block-title">Мощность на полную!
            <span class="processor__style-title--big power__block-title--big">Образ жизни</span>
        </h2>
    </div>

</section>