<section class="protection">
    <div class="protection__container container">
        <div class="protection__new">
            <div class="protection__text text-block">
                <h2 class="protection__title text-block__title">Всегда как новый</h2>
                <h3 class="protection__subtitle text-block__subtitle">Никаких отпечатков пальцев</h3>
                <p class="protection__descr text-block__descr">Специальная текстура, препятствующая появлению отпечатков пальцев.</p>
            </div>
        </div>
    </div>
    <div class="protection__spray">
        <div class="protection__spray-item protection-photo"></div>
        <div class="protection__spray-item protection-text">
            <h3 class="protection__spray-title">Защита от брызг</h3>
            <p class="protection__spray-descr">Для безопасного использования устройства в любую погоду.</p>
        </div>
        <div class="protection__spray-item protection-text2">
            <h3 class="protection__spray-title">Встроенный в кнопку питания сканер отпечатков пальцев</h3>
            <p class="protection__spray-descr">Быстрая и удобная разблокировка.</p>
        </div>
        <div class="protection__spray-item protection-photo2"></div>
    </div>
    
</section>