<section class="speakers">
    <div class="speakers__container">
        <div class="speakers__text text-block">
            <h3 class="speakers__subtitle text-block__subtitle">Стереодинамики</h3>
            <h2 class="speakers__title text-block__title">Слушай музыку, почувствуй ритм</h2>
            <p class="speakers__descr text-block__descr">Наслаждайся великолепным качеством звучания динамиков смартфона. Глубокий бас подчёркивает ритм, а улучшенные высокие частоты позволяют полностью погрузиться в виртуальный игровой мир или в просмотр видео.</p>
        </div>
        <div class="speakers__audio">
            <picture>
                <source srcset="../img/audio-desktop.jpg" media="(min-width: 900px)">
                <img src="../img/audio.jpg" alt="Hi-Res Audio" />
            </picture>
            <span class="speakers__audio-text">Поддержка Hi-Res Audio</span>
        </div>
        <div class="speakers__images">
            <picture>
                <source srcset="../img/stereo-desktop.png" media="(min-width: 900px)">
                <img src="../img/stereo.jpg" alt="stereo" class="speakers__image"/>
            </picture>
        </div>
    </div>
</section>