<section class="start">
    <div class="start__container">
        <div class="start__text">
            <h1 class="start__title">СТАРТ ПРОДАЖ</h1>
            <h2 class="start__subtitle">Mi Smart Band 4 NFC<br /> в подарок</h2>
            <span class="start__text-small">при покупке Xiaomi Redmi 9T</span>
        </div>
        <div class="start__image">
            <img src="../img/redmi-desktop.png" alt="Redmi" />
            <img src="../img/clock.png" alt="Clock Redmi" class="start__image-item" />
        </div>
        <div class="start__logo">
            <img src="../img/logo.png" alt="Logo" />
        </div>
    </div>
    <div class="start__descr">
        Xiaomi Redmi 9T с камерой 48 Мп и ёмким аккумулятором на 6000 мАч уже в продаже! Купи новинку в «М.Видео» и получи фитнес-браслет Mi Smart Band 4 NFC в подарок — отличная пара для активного образа жизни.
    </div>
</section>