<section class="video">
    <div class="video__container">
        <div class="video__text text-block">
            <h3 class="video__subtitle text-block__subtitle">Таймлапс видео</h3>
            <h2 class="video__title text-block__title">Следи за движением времени</h2>
            <p class="video__descr text-block__descr">Режим «Таймлапс» позволяет запечатлеть течение времени прямо на видео. Записывай облака, движущиеся по небу, или создай забавное видео домашней уборки.</p>
        </div>
        <div class="video__player">
            <div class="video__start">
                <picture>
                    <source srcset="../img/video-desktop.jpg" media="(min-width: 900px)">
                    <img src="../img/video.jpg" alt="видео" class="video__image"></img>
                </picture>
                <div class="video__play">
                    <picture>
                        <source srcset="../img/video-play-desktop.png" media="(min-width: 900px)">
                        <img src="../img/video-play.png" alt="видео" class="video__image"></img>
                    </picture>
                </div>
                
            </div>
        </div>
    </div>
    <div class="video__banner power__block power__block-container">
        <h3 class="video__banner-title power__block-title">Мощность на полную!
            <span class="video__banner-title--big power__block-title--big">Производительность</span>
        </h3>
    </div>
</section>